<div class="container">
    <h3>Add Bookkeeping Record</h3>
    <p>
        Last Date <span *ngIf="lastKeeping">{{ lastKeeping.date }}</span>
    </p>
    <form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date today" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <br>
            <label for="eleUnit">Unit Price of Eletric</label>
            <input type="number" class="form-control" id="eleUnit" placeholder="" formControlName="eleUnit" required>

            <label for="waterUnit">Unit Price of Water</label>
            <input type="number" class="form-control" id="waterUnit" placeholder="" formControlName="waterUnit"
                required>

            <label for="airUnit">Unit Price of Air</label>
            <input type="number" class="form-control" id="airUnit" placeholder="" formControlName="airUnit" required>
        </div>
        <br>
        <label for="electricScalar">Scalar of Eletric</label>
        <input type="number" class="form-control" id="electricScalar" (change)="getUsage($event)" placeholder="" formControlName="electricScalar"
            required>

        <label for="waterScalar">Scalar of Water</label>
        <input type="number" class="form-control" id="waterScalar" (change)="getUsage($event)" placeholder="" formControlName="waterScalar"
            required>

        <label for="airScalar">Scalar of Air</label>
        <input type="number" class="form-control" id="airScalar" (change)="getUsage($event)" placeholder="" formControlName="airScalar" required>
        
        <br>

        <label for="electricUsage">Usage of Electric</label>
        <input type="number" class="form-control" id="electricUsage" (change)="getCharge()"  placeholder="" formControlName="electricUsage">

        <label for="waterUsage">Usage of Water</label>
        <input type="number" class="form-control" id="waterUsage" (change)="getCharge()"  placeholder="" formControlName="waterUsage">

        <label for="airUsage">Usage of Air</label>
        <input type="number" class="form-control" id="airUsage" (change)="getCharge()"  placeholder="" formControlName="airUsage">
        
        <br>

        <label for="eleCharge">Eletric Cost</label>
        <input type="number" class="form-control" id="eleCharge" placeholder="" formControlName="eleCharge" required>

        <label for="waterCharge">Water Cost</label>
        <input type="number" class="form-control" id="waterCharge" placeholder="" formControlName="waterCharge"
            required>

        <label for="airCharge">Air Cost</label>
        <input type="number" class="form-control" id="airCharge" placeholder="" formControlName="airCharge" required>

        <label for="otherCharge">Other Cost</label>
        <input type="number" class="form-control" id="otherCharge" (change)="getCharge()"  placeholder="" formControlName="otherCharge"
            required>

        <label for="totalCharge">Total Cost</label>
        <input type="number" class="form-control" id="totalCharge" placeholder="" formControlName="totalCharge"
            required>


        <br>

        <button type="submit" class="btn btn-primary" [disabled]="!recordForm.valid">Save</button>

    </form>
    <p>
        <span></span>
    </p>

</div>