<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ date }}</td>
            </tr>
            <tr>
                <th>Unit Price of Electric</th>
                <td>{{ eleUnit }}</td>
            </tr>
            <tr>
                <th>Unit Price of Water</th>
                <td>{{ waterUnit }}</td>
            </tr>
            <tr>
                <th>Unit Price of Air</th>
                <td>{{ airUnit }}</td>
            </tr>
        </tbody>
    </table>
    <button routerLink="/" type="button" class="btn btn-info">Back</button>
</div>